@page "/FAQS"

<h1><span class="oi oi-question-mark" aria-hidden="true"></span>&nbsp;FAQs</h1>

<p class="font-weight-bold">Can I wear flip-flops?</p>
<p>No, due to safety concerns this is not allowed.</p>

<p class="font-weight-bold">Do you have gun rentals?</p>
<p>No, we require you to bring your own firearms.</p>