@page "/Fees"

<h1><span class="oi oi-dollar" aria-hidden="true"></span>&nbsp;Fees</h1>

The fee schedule below is for all day and includes both the pistol and rifle ranges.<br /><br />

<ul class="list-group">
	<li class="list-group-item">Adult $18.00 Per Person</li>
	<li class="list-group-item">Youth $13.00 Per Person “17 years or younger”</li>
	<li class="list-group-item">Military & First Responder 15% Discount</li>
	<li class="list-group-item">Seniors, TSRA & NRA Members 10% Discount</li>
	<li class="list-group-item">Bi-Annual Membership $200/6 months</li>
	<li class="list-group-item">Annual Membership $300/Year</li>
</ul>