@page "/"

<div class="text-center">
    <img src="logo.png" class="mx-auto d-block" alt="Lonestar Range & Academy" /> <br/><br/>

    @if (DateTime.Now.DayOfWeek == DayOfWeek.Monday)
    {
        <p class="text-danger">Closed on Mondays</p>
    } else
    {
        <p class="text-success">We are open today 9am to 5pm</p>
    }

    <h3>Hours of Operation</h3>
    <p>
        Tuesday through Sunday - 9am to 5pm
    </p>

    <h3>Location</h3>
    <p><a href="geo:30.796753052913772, -97.88550591584361">10000 US-183 Florence, Texas 76527</a></p>

    <h3>Contact Us</h3>
    <p><a href="tel:5125167640">(512)-516-7640</a></p>
    <p><a href="mailto:lonestarrangeacademy@gmail.com">lonestarrangeacademy@gmail.com</a></p>
</div>