@page "/Ranges"

<h1>Ranges</h1>

<h2>Pistol Range</h2>
<img src="range_pistol.jpg" class="img-fluid rounded" alt="Pistol Range" /><br/>

<p>
The pistol range offers a 3 yard, 7 yard and 15 yard range allowing pistols, revolvers and pistol carbines to be shot.

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Calibers Allowed
  </a>

  <a href="#" class="list-group-item list-group-item-action">22</a>
  <a href="#" class="list-group-item list-group-item-action">38 Special</a>
  <a href="#" class="list-group-item list-group-item-action">380</a>
  <a href="#" class="list-group-item list-group-item-action">9mm</a>
  <a href="#" class="list-group-item list-group-item-action">40 S&W</a>
  <a href="#" class="list-group-item list-group-item-action">45 ACP</a>
  <a href="#" class="list-group-item list-group-item-action">10mm</a>
</div>
</p>