@page "/Rules"

<h1><span class="oi oi-task" aria-hidden="true"></span>&nbsp;Rules</h1>

The rules below are to promote safety of the guests and yourself at the range. These are posted throughout the range, however for your convience they are also listed below.<br /><br />

<ul class="list-group">
	<li class="list-group-item">No open toe shoes allowed</li>
	<li class="list-group-item">No cartridge with a bullet larger than a .30 caliber and a velocity above 2,900 fps is permitted on the rifle range</li>
	<li class="list-group-item">No Slugs or Buck Shot is permitted on any Range</li>
	<li class="list-group-item">No Shotshells allowed on the Rifle or Pistol Range</li>
</ul>