@page "/Services"

<h1><span class="oi oi-task" aria-hidden="true"></span>&nbsp;Services</h1>

<ul class="list-group">
	<li class="list-group-item">Federal Firearms Dealer / Manufacturer</li>
	<li class="list-group-item">Gun / Ultra Sonic Cleaning</li>
	<li class="list-group-item">Bore Sighting</li>
	<li class="list-group-item">On-Site Minor Repairs</li>
	<li class="list-group-item">Gunsmithing</li>
</ul>