@page "/TrainingClasses"

<h1 id="home"><span class="oi oi-people" aria-hidden="true"></span>&nbsp;Training Classes</h1>
The staff and instructors at Lonestar Range & Academy believe in every citizen’s right to own firearms. We also believe it is the duty of every citizen to protect themselves and their loved ones from the predatory criminals that walk the streets of our communities.<br/><br/>

An increased number of states are allowing their citizens to carry a weapon concealed for protection. The courses we offer are designed to prepare the responsible gun owner to handle their weapons in a safe and effective manner under all circumstances. We believe that for training to be of any benefit it must be interesting, stimulating, and realistic. We believe that in times of peril and duress, you will perform the way you train.<br/><br/>

To this end, we will tell you that we are not always the biggest and fanciest, but offer you some of the most thorough training in firearms techniques that you can find in the local area.  What we offer is time-proven gun tactics, gun techniques and a training staff of the most dedicated trainers you will meet.<br/><br/>

If you desire to learn how to use your firearm in a safe and efficient manner, without all the hype and macho attitude, without being made to feel insignificant because you are not some kind of warrior, try us out. We think you’ll be pleased.
<br/><br/>

<div class="text-center">
    <button type="button" class="btn btn-primary" onclick="document.getElementById('ltc').scrollIntoView({behavior:'smooth'})">License to Carry</button>    
    <button type="button" class="btn btn-primary" onclick="document.getElementById('basicpistol').scrollIntoView({behavior:'smooth'})">Basic Pistol</button>
    <button type="button" class="btn btn-primary" onclick="document.getElementById('basicrifle').scrollIntoView({behavior:'smooth'})">Basic Rifle</button>
    <button type="button" class="btn btn-primary" onclick="document.getElementById('basicshotgun').scrollIntoView({behavior:'smooth'})">Basic Shotgun</button>
</div>

<br/><br/>

<h2 id="ltc">License to Carry Course</h2>
<h3>Description</h3>
<p>
This course is 6-hours long and includes classroom and range time. DPS licenses individuals to carry handguns within Texas, evaluates the eligibility of applicants 
through criminal history background checks and monitors those currently licensed to ensure their continued eligibility.
</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Equipment Needed
  </li>

  <li class="list-group-item list-group-item-action">Handgun (.380 or larger)</li>
  <li class="list-group-item list-group-item-action">50 rounds of practice ammunition</li>
  <li class="list-group-item list-group-item-action">Extra Magazine</li>
  <li class="list-group-item list-group-item-action">Hat</li>
  <li class="list-group-item list-group-item-action">Closed Toe Shoes</li>
</ul>
<br />
<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Fees
  </li>

  <li class="list-group-item list-group-item-action">$90</li>
  <li class="list-group-item list-group-item-action">$40 non-refundable deposit</li>
</ul>
<br/>
<p>
Registration is required and the balance due no later than the beginning of your class. We have 8 seats available per class.
</p>

<button type="button" onclick="document.getElementById('home').scrollIntoView({behavior:'smooth'})" class="btn btn-outline-danger">
   <span class="oi oi-arrow-top"></span>
   back to top
</button>

<br /><br/>

<h2 id="basicpistol">Basic Pistol Course</h2>
<h3>Description</h3>
<p>
This course is 4-hours long and includes classroom and range time learning to shoot revolvers and semi-automatic pistols. Students learn rules for safe gun handling; pistol parts and operation; ammunition; shooting fundamentals; basic range rules; cleaning the pistol; 
and continued opportunities for skill development. This course is a good starting point if you plan to take the License to Carry course.
</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Equipment Needed
  </li>

  <li class="list-group-item list-group-item-action">Handgun; semi-auto or revolver  (.380 or larger)</li>
  <li class="list-group-item list-group-item-action">100 rounds of practice ammunition</li>
  <li class="list-group-item list-group-item-action">Hat</li>
  <li class="list-group-item list-group-item-action">Closed Toe Shoes</li>
</ul>
<br />
<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Fees
  </li>

  <li class="list-group-item list-group-item-action">$75</li>
  <li class="list-group-item list-group-item-action">$35 non-refundable deposit</li>
</ul>
<br/>
<p>
Registration is required and the balance due no later than the beginning of your class. We have 8 seats available per class.
</p>

<button type="button" onclick="document.getElementById('home').scrollIntoView({behavior:'smooth'})" class="btn btn-outline-danger">
   <span class="oi oi-arrow-top"></span>
   back to top
</button>

<br /><br/>

<h2 id="basicrifle">Basic Rifle Course</h2>
<h3>Description</h3>
<p>
This course is at least 4 hours long and includes classroom and range time learning to shoot rifles. Students learn rules for safe gun handling; rifle parts and operation; ammunition; shooting fundamentals; range rules; 
shooting from the bench rest, prone, sitting, standing and kneeling positions; cleaning the rifle, and continued opportunities for skill development.
</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Equipment Needed
  </li>

  <li class="list-group-item list-group-item-action">Rifle (.22 or larger)</li>
  <li class="list-group-item list-group-item-action">100 rounds of range ammunition</li>
  <li class="list-group-item list-group-item-action">Hat</li>
  <li class="list-group-item list-group-item-action">Closed Toe Shoes</li>
</ul>
<br />
<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Fees
  </li>

  <li class="list-group-item list-group-item-action">$100</li>
  <li class="list-group-item list-group-item-action">$50 non-refundable deposit</li>
</ul>
<br/>
<p>
Registration is required and the balance due no later than the beginning of your class. We have 8 seats available per class.
</p>

<button type="button" onclick="document.getElementById('home').scrollIntoView({behavior:'smooth'})" class="btn btn-outline-danger">
   <span class="oi oi-arrow-top"></span>
   back to top
</button>

<br /><br/>

<h2 id="basicshotgun">Basic Shotgun Course</h2>
<h3>Description</h3>
<p>
This course is at least 4 hours long and includes classroom and range time learning how to shoot shotguns at moving targets. Students learn rules for safe gun handling; shotgun parts and operation; 
shotgun shell components; shooting fundamentals; range rules; cleaning; and continued opportunities for skill development.
</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Equipment Needed
  </li>

  <li class="list-group-item list-group-item-action">Shotgun (.410 ga or larger)</li>
  <li class="list-group-item list-group-item-action">50 rounds of target / bird shells</li>
  <li class="list-group-item list-group-item-action">Hat</li>
  <li class="list-group-item list-group-item-action">Closed Toe Shoes</li>
</ul>
<br />
<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Fees
  </li>

  <li class="list-group-item list-group-item-action">$75</li>
  <li class="list-group-item list-group-item-action">$35 non-refundable deposit</li>
</ul>
<br/>
<p>
Registration is required and the balance due no later than the beginning of your class. We have 8 seats available per class.
</p>

<button type="button" onclick="document.getElementById('home').scrollIntoView({behavior:'smooth'})" class="btn btn-outline-danger">
   <span class="oi oi-arrow-top"></span>
   back to top
</button>