@page "/TrainingClasses"

<h1><span class="oi oi-people" aria-hidden="true"></span>&nbsp;Training Classes</h1>

<h2>Basic Pistol Course</h2>
<h3>Description</h3>
<p>
This course is 4-hours long and includes classroom and range time learning to shoot revolvers and semi-automatic pistols. Students learn rules for safe gun handling; pistol parts and operation; ammunition; shooting fundamentals; basic range rules; cleaning the pistol; 
and continued opportunities for skill development. This course is a good starting point if you plan to take the License to Carry course.
</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Equipment Needed
  </li>

  <li class="list-group-item list-group-item-action">Handgun; semi-auto or revolver  (.380 or larger)</li>
  <li class="list-group-item list-group-item-action">100 rounds of practice ammunition</li>
  <li class="list-group-item list-group-item-action">Hat</li>
  <li class="list-group-item list-group-item-action">Closed Toe Shoes</li>
</ul>
<br />
<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Fees
  </li>

  <li class="list-group-item list-group-item-action">$75</li>
  <li class="list-group-item list-group-item-action">$35.00 non-refundable deposit</li>
</ul>
<br/>
<p>
Registration is required and the balance due no later than the beginning of your class. We have 8 seats available per class.
</p>

<h2>Basic Rifle Course</h2>
<h3>Description</h3>
<p>
This course is at least 4 hours long and includes classroom and range time learning to shoot rifles. Students learn rules for safe gun handling; rifle parts and operation; ammunition; shooting fundamentals; range rules; 
shooting from the bench rest, prone, sitting, standing and kneeling positions; cleaning the rifle, and continued opportunities for skill development.
</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Equipment Needed
  </li>

  <li class="list-group-item list-group-item-action">Rifle (.22 or larger)</li>
  <li class="list-group-item list-group-item-action">100 rounds of range ammunition</li>
  <li class="list-group-item list-group-item-action">Hat</li>
  <li class="list-group-item list-group-item-action">Closed Toe Shoes</li>
</ul>
<br />
<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Fees
  </li>

  <li class="list-group-item list-group-item-action">$100</li>
  <li class="list-group-item list-group-item-action">$50.00 non-refundable deposit</li>
</ul>
<br/>
<p>
Registration is required and the balance due no later than the beginning of your class. We have 8 seats available per class.
</p>

<h2>Basic Shotgun Course</h2>
<h3>Description</h3>
<p>
This course is at least 4 hours long and includes classroom and range time learning how to shoot shotguns at moving targets. Students learn rules for safe gun handling; shotgun parts and operation; 
shotgun shell components; shooting fundamentals; range rules; cleaning; and continued opportunities for skill development.
</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Equipment Needed
  </li>

  <li class="list-group-item list-group-item-action">Shotgun (.410 ga or larger)</li>
  <li class="list-group-item list-group-item-action">50 rounds of target / bird shells</li>
  <li class="list-group-item list-group-item-action">Hat</li>
  <li class="list-group-item list-group-item-action">Closed Toe Shoes</li>
</ul>
<br />
<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Fees
  </li>

  <li class="list-group-item list-group-item-action">$75</li>
  <li class="list-group-item list-group-item-action">$35.00 non-refundable deposit</li>
</ul>
<br/>
<p>
Registration is required and the balance due no later than the beginning of your class. We have 8 seats available per class.
</p>