@page "/TrainingClasses"

<h1 id="home"><span class="oi oi-people" aria-hidden="true"></span>&nbsp;Training Classes</h1>
The staff and instructors at Lonestar Range & Academy believe in every citizen's right to own firearms and are strong proponents in training.
<br/><br/>

<div class="text-center">
    <button type="button" class="btn btn-primary" onclick="document.getElementById('ltc').scrollIntoView({behavior:'smooth'})">License to Carry</button>    
    <button type="button" class="btn btn-primary" onclick="document.getElementById('basicpistol').scrollIntoView({behavior:'smooth'})">Basic Pistol</button>
    <button type="button" class="btn btn-primary" onclick="document.getElementById('advancedpistol').scrollIntoView({behavior:'smooth'})">Advanced Pistol</button>
    <button type="button" class="btn btn-primary" onclick="document.getElementById('drawingfromconcealment').scrollIntoView({behavior:'smooth'})">Drawing from Concealment</button>
    <button type="button" class="btn btn-primary" onclick="document.getElementById('drawingfromconcealment').scrollIntoView({behavior:'smooth'})">Handgun Maintenance 101</button>    
    <button type="button" class="btn btn-primary" onclick="document.getElementById('basicrifle').scrollIntoView({behavior:'smooth'})">Basic Rifle</button>
    <button type="button" class="btn btn-primary" onclick="document.getElementById('basicshotgun').scrollIntoView({behavior:'smooth'})">Basic Shotgun</button>
    <button type="button" class="btn btn-primary" onclick="document.getElementById('privateinstruction').scrollIntoView({behavior:'smooth'})">Private Instruction</button>
    
</div>

<br/><br/>

<h2 id="ltc">License to Carry Course</h2>
<p>
This course is 6-hours long and includes classroom and range time. DPS licenses individuals to carry handguns within Texas, evaluates the eligibility of applicants 
through criminal history background checks and monitors those currently licensed to ensure their continued eligibility.
</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Equipment Needed
  </li>

  <li class="list-group-item list-group-item-action">Handgun (.380 or larger)</li>
  <li class="list-group-item list-group-item-action">50 rounds of practice ammunition</li>
  <li class="list-group-item list-group-item-action">Extra Magazine</li>
  <li class="list-group-item list-group-item-action">Hat</li>
  <li class="list-group-item list-group-item-action">Closed Toe Shoes</li>
</ul>
<br />
<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Fees
  </li>

  <li class="list-group-item list-group-item-action">$90</li>
  <li class="list-group-item list-group-item-action">$40 non-refundable deposit</li>
</ul>
<br/>
<p>
Registration is required and the balance due no later than the beginning of your class. We have 8 seats available per class.
</p>

<button type="button" onclick="document.getElementById('home').scrollIntoView({behavior:'smooth'})" class="btn btn-outline-danger">
   <span class="oi oi-arrow-top"></span>
   back to top
</button>

<br /><br/>

<h2 id="basicpistol">Basic Pistol Course</h2>
<p>
This course is 4-hours long and includes classroom and range time learning to shoot revolvers and semi-automatic pistols. Students learn rules for safe gun handling; pistol parts and operation; ammunition; shooting fundamentals; basic range rules; cleaning the pistol; 
and continued opportunities for skill development. This course is a good starting point if you plan to take the License to Carry course.
</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Equipment Needed
  </li>

  <li class="list-group-item list-group-item-action">Handgun; semi-auto or revolver  (.380 or larger)</li>
  <li class="list-group-item list-group-item-action">100 rounds of practice ammunition</li>
  <li class="list-group-item list-group-item-action">Hat</li>
  <li class="list-group-item list-group-item-action">Closed Toe Shoes</li>
</ul>
<br />
<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Fees
  </li>

  <li class="list-group-item list-group-item-action">$75</li>
  <li class="list-group-item list-group-item-action">$35 non-refundable deposit</li>
</ul>
<br/>
<p>
A certification is giving upon the completion of this course.<br /><br />

Registration is required and the balance due no later than the beginning of your class. We have 8 seats available per class.
</p>

<button type="button" onclick="document.getElementById('home').scrollIntoView({behavior:'smooth'})" class="btn btn-outline-danger">
   <span class="oi oi-arrow-top"></span>
   back to top
</button>

<br /><br/>

<h2 id="advancedpistol">Advanced Pistol Course</h2>
<p>
This course is 4-hours long and includes classroom and range time learning to shoot multiple targets, malfunction drills and move and shoot target. Students learn safe gun handling while moving, shooting fundamentals and continued opportunities for skill development.
</p>

<p class="alert-warning">Basic pistol certification from a recognized training center</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Equipment Needed
  </li>

  <li class="list-group-item list-group-item-action">Handgun; semi-auto or revolver  (.380 or larger)</li>
  <li class="list-group-item list-group-item-action">100 rounds of practice ammunition</li>
  <li class="list-group-item list-group-item-action">Hat</li>
  <li class="list-group-item list-group-item-action">Closed Toe Shoes</li>
</ul>
<br />
<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Fees
  </li>

  <li class="list-group-item list-group-item-action">$75</li>
  <li class="list-group-item list-group-item-action">$35 non-refundable deposit</li>
</ul>
<br/>
<p>
A certification is giving upon the completion of this course.<br /><br />

Registration is required and the balance due no later than the beginning of your class. We have 8 seats available per class.
</p>

<button type="button" onclick="document.getElementById('home').scrollIntoView({behavior:'smooth'})" class="btn btn-outline-danger">
   <span class="oi oi-arrow-top"></span>
   back to top
</button>

<br /><br/>

<h2 id="drawingfromconcealment">Drawing from Concealment</h2>
<p>
This course is 2-hours long and includes classroom and range time learning to draw your weapon from concealment in a safe manner for you and the public.
</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Equipment Needed
  </li>

  <li class="list-group-item list-group-item-action">Handgun; semi-auto or revolver  (.380 or larger)</li>
  <li class="list-group-item list-group-item-action">50 rounds of practice ammunition</li>
  <li class="list-group-item list-group-item-action">Hat</li>
  <li class="list-group-item list-group-item-action">Concealment Holster</li>
  <li class="list-group-item list-group-item-action">Closed Toe Shoes</li>
</ul>
<br />
<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Fees
  </li>

  <li class="list-group-item list-group-item-action">$45</li>
  <li class="list-group-item list-group-item-action">$25 non-refundable deposit</li>
</ul>
<br/>
<p>
Registration is required and the balance due no later than the beginning of your class. We have 8 seats available per class.
</p>

<button type="button" onclick="document.getElementById('home').scrollIntoView({behavior:'smooth'})" class="btn btn-outline-danger">
   <span class="oi oi-arrow-top"></span>
   back to top
</button>

<br /><br/>

<h2 id="handgunmaintenance">Handgun Maintenance 101</h2>
<p>
This course is 2-hours long and includes classroom time learning how to dis-assemble your weapon for cleaning and inspection. What type of cleaning kit and chemicals to use.
</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Equipment Needed
  </li>

  <li class="list-group-item list-group-item-action">Handgun; semi-auto or revolver  (.380 or larger)</li>
</ul>
<br />
<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Fees
  </li>

  <li class="list-group-item list-group-item-action">$50</li>
  <li class="list-group-item list-group-item-action">$25 non-refundable deposit</li>
</ul>
<br/>
<p>
Registration is required and the balance due no later than the beginning of your class. We have 8 seats available per class.
</p>

<button type="button" onclick="document.getElementById('home').scrollIntoView({behavior:'smooth'})" class="btn btn-outline-danger">
   <span class="oi oi-arrow-top"></span>
   back to top
</button>

<br /><br/>

<h2 id="basicrifle">Basic Rifle Course</h2>
<p>
This course is at least 4 hours long and includes classroom and range time learning to shoot rifles. Students learn rules for safe gun handling; rifle parts and operation; ammunition; shooting fundamentals; range rules; 
shooting from the bench rest, prone, sitting, standing and kneeling positions; cleaning the rifle, and continued opportunities for skill development.
</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Equipment Needed
  </li>

  <li class="list-group-item list-group-item-action">Rifle (.22 or larger)</li>
  <li class="list-group-item list-group-item-action">100 rounds of range ammunition</li>
  <li class="list-group-item list-group-item-action">Hat</li>
  <li class="list-group-item list-group-item-action">Closed Toe Shoes</li>
</ul>
<br />
<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Fees
  </li>

  <li class="list-group-item list-group-item-action">$100</li>
  <li class="list-group-item list-group-item-action">$50 non-refundable deposit</li>
</ul>
<br/>
<p>
Registration is required and the balance due no later than the beginning of your class. We have 8 seats available per class.
</p>

<button type="button" onclick="document.getElementById('home').scrollIntoView({behavior:'smooth'})" class="btn btn-outline-danger">
   <span class="oi oi-arrow-top"></span>
   back to top
</button>

<br /><br/>

<h2 id="basicshotgun">Basic Shotgun Course</h2>
<p>
This course is at least 4 hours long and includes classroom and range time learning how to shoot shotguns at moving targets. Students learn rules for safe gun handling; shotgun parts and operation; 
shotgun shell components; shooting fundamentals; range rules; cleaning; and continued opportunities for skill development.
</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Equipment Needed
  </li>

  <li class="list-group-item list-group-item-action">Shotgun (.410 ga or larger)</li>
  <li class="list-group-item list-group-item-action">50 rounds of target / bird shells</li>
  <li class="list-group-item list-group-item-action">Hat</li>
  <li class="list-group-item list-group-item-action">Closed Toe Shoes</li>
</ul>
<br />
<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Fees
  </li>

  <li class="list-group-item list-group-item-action">$75</li>
  <li class="list-group-item list-group-item-action">$35 non-refundable deposit</li>
</ul>
<br/>
<p>
Registration is required and the balance due no later than the beginning of your class. We have 8 seats available per class.
</p>

<button type="button" onclick="document.getElementById('home').scrollIntoView({behavior:'smooth'})" class="btn btn-outline-danger">
   <span class="oi oi-arrow-top"></span>
   back to top
</button>

<br/><br/>

<h2 id="privateinstruction">Private Instruction</h2>
<p>
Covers everything from Basic shooting skills to Advance Scenario based skills depending on the individual shooters’ needs.
</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Equipment Needed
  </li>

  <li class="list-group-item list-group-item-action">Handgun; semi-auto or revolver</li>
  <li class="list-group-item list-group-item-action">100 rounds of practice ammunition</li>  
  <li class="list-group-item list-group-item-action">Extra Magazines</li>
  <li class="list-group-item list-group-item-action">Hat</li>
  <li class="list-group-item list-group-item-action">Closed Toe Shoes</li>
</ul>
<br />
<ul class="list-group">
  <li class="list-group-item list-group-item-action active">
    Fees
  </li>

  <li class="list-group-item list-group-item-action">$50 per hour</li>
</ul>
<br/>
<p>
Registration is required and the balance due no later than the beginning of your class. We have 8 seats available per class.
</p>

<button type="button" onclick="document.getElementById('home').scrollIntoView({behavior:'smooth'})" class="btn btn-outline-danger">
   <span class="oi oi-arrow-top"></span>
   back to top
</button>

<br/><br/>